.book__btn {
  border: 0.1rem solid #61e786 !important;
  border-radius: 0.2rem;
  color: #61e786;
  text-transform: capitalize;
  transition: all 0.5s ease-in;
}

.book__btn:hover {
  background-color: #61e786;
  color: white;
  text-decoration: none;
}

.imgx {
  height: 2.5rem;
}

.icon-btn {
  border: 0.15rem solid #61e786;
  border-radius: 50%;
}
/*  dark #242325
  green 61e786
white #fff
grey #eee */
